.talk-say {
    color: #212121;
    background: rgba(255, 255, 255, 0.84);
    padding: 8px 16px;
    border-radius: 2px 15px 15px 15px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 0 0 2px 0;
    max-width: 65%;
    float: none;
    clear: both;
    line-height: 1.5em;
    word-break: break-word;
    transform-origin: left top;
    transition: all 200ms;
    box-sizing: content-box;
    cursor: pointer;
  }
  .talk-reply {
    background: rgba(44, 44, 44, 0.67);
    color: #fff;
    padding: 8px 16px;
    border-radius: 15px 15px 2px 15px;
    margin-left: 2px;
    text-align: center;
    display: inline-block;
    float: right;
    cursor: pointer;
    transition: all 200ms;
    text-decoration: none;
    word-break: normal;
    box-sizing: content-box;
    /* animation-duration: 1s; */
    animation-name: animate-reply;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    /* opacity: 0; */
    transform: translate3d(0px, 0px, 0px);
    animation-delay: -3s;
    -ms-animation-delay: -3;
    -webkit-animation-delay: -3s;
  animation-play-state: running;
    margin-top: 3px;
    min-height: 24px;
    overflow: hidden;
  }
  
  
  